

$sider : #43425D;
$siderbutton : #A5A4BF;
$siderdark : #3B3B53;
$headericons:#607D8B;
$buttons:#2196F3;
$popupsicons: #414141;
$textdark : #708A97;
$text : white;


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;  
    overflow: hidden;
}

.root{
  height: 100%;
}

#mapPanel{
  height: 100vh;
  background: white;

}

#map{
  height: 100%;
  width: 100%;
  background: white;
}

#upload{
    position: absolute;
    margin: 40vh 10vw;
    align-items: center;
    width: 50%;
    &>*{
      position: relative;
      margin: 10px auto;
      display:block;
    }
    #uploadInput{
        width: 50%
    }

    #uploadTag{
      max-width: 40%
    }
   
  }

#header{
 background: #fefefe;
 box-shadow: 0 2px 8px #f0f1f2;
 z-index: 10;
 overflow: hidden;
 display: inline;
 position: relative;
 padding: 0%;
 margin: 0%;
    
    #projectTitle{
      margin: 0px;
      letter-spacing: 2px;
      word-spacing: 4px;
      text-align: center;
      width: 15%;
      display: inline-block;
    }
      
    .MapLayerTools{
      display: inline-block;

      &>*{
        margin-right: 20px;
      }
    }
}


#mapEllememts{
  background: white;
  box-shadow: 10 10 12 #43425D;
  .ellementsTree{

      max-height: 50%;

  }
  
}

.hidedButton{
  background: white;
  border: white;
  box-shadow: 0 0 0 white

}


.tool_bar{
  background-color: $sider;
}

.tools{
  color: $siderbutton;
  width: 100%;

}


#symbologypanel{
  background-color: $text;
  min-width: 100%;
  
}

.panel_title{
  color: $textdark;
  text-align: center;
}

.panel_text{
  color : $textdark;
  margin: 10px;
}

.flex_div{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.selectors{
    margin: 25%;
}

.tab{
  margin: 20px;
}


.toggleButton {
    padding: 5px;
    border: 1px solid #DFE8F3;
    //margin: 5px;
    font-size: 12px;
    width: 200px;
    border-radius: 4px;
    cursor: pointer;
}

.toggleButton:hover {
    border-color: #1890ff;
}

.colorScalePickerContainer{
  max-height: 300px;
  background: white;
}
