

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;  
}

.root{
  height: 100%;
}

#mapPanel{
  height: 100vh;
  background: white;

}

#map{
  height: 100%;
  width: 100%;
  background: white;
}

#uploadButton{
    position: absolute;
    margin: 40vh 30vw;
}


#header{
 background: #fefefe;
 box-shadow: 0 2px 8px #f0f1f2;
 z-index: 10;
 overflow: hidden;
 display: inline;
 position: relative;
 padding: 0%;
 margin: 0%;
    
    #projectTitle{
      margin: 0px;
      letter-spacing: 2px;
      word-spacing: 4px;
      text-align: center;
      width: 15%;
      display: inline-block;
    }
      
    .MapLayerTools{
      display: inline-block;

      &>*{
        margin-right: 20px;
      }
    }
}


#mapEllememts{
  background: white;
  box-shadow: 10 10 12 #43425D;
  .ellementsTree{
      max-height: 50%;
  }
  
}

.hidedButton{
  background: white;
  border: white;
  box-shadow: 0 0 0 white

}


